@import "tailwindcss";

@theme {
    --color-primary: #1B211A;
    --color-secondary: #628141;
    --color-bgprimary: #8BAE66;
    --color-bgsecondary: #EBD5AB;
}

.main-scroll {
  scrollbar-width: auto;
  scrollbar-color: var(--color-secondary) transparent;
}


